Repository kaminskypavel/simple-node-typescript-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, npm run swagger, git add swagger.json

.lintstagedrc:

{
  "*.{ts,js,json}": [
    "prettier --config .prettierrc --write",
    "eslint --fix",
    "git add"
  ],
  "**/routes/*.ts": [
    "npm run swagger",
    "git add swagger.json"
  ]
}

docs: add more tools to readme
  README.md
Due: none

fix(express): remove unknown property of rateLimit since upgrade to 3
  src/routes/index.ts
Due: prettier --config .prettierrc --write, eslint --fix, npm run swagger, git add swagger.json

chore(deps): pin dependencies
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency eslint to v6
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

fix: add package-lock.json to git
  .gitignore
  package-lock.json
Due: prettier --config .prettierrc --write, eslint --fix

fix: remove delayMs from rateLimit@3
  package-lock.json
  src/app.ts
Due: prettier --config .prettierrc --write, eslint --fix

chore: add a better prettier rules
  .prettierignore
  .prettierrc
Due: none

refactor: apply the new prettier rules
  src/commons/logger.ts
  src/routes/demoRoute.spec.ts
  src/routes/index.spec.ts
  src/server.ts
Due: prettier --config .prettierrc --write, eslint --fix, npm run swagger, git add swagger.json

chore(deps): update dependency eslint-config-airbnb to v18
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency eslint-config-prettier to v6
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency jscpd to v2
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update typescript-eslint monorepo to v2
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency @types/helmet to v0.0.44
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency @types/jest to v24.0.18
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(renovatebot): run on a weekly basis and merge minor + patch prs without asking
  renovate.json
Due: prettier --config .prettierrc --write, eslint --fix

lint: fix .eslint
  .eslintrc
Due: none

fix: fix url printed once server is up
  src/server.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: add a body-parser
  package-lock.json
  package.json
  src/app.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat: integrate express-validator and add an example
  src/controllers/demoContorller.ts
  src/routes/demoRoute.ts
  src/routes/index.ts
  src/routes/requestValidationHandler.ts
Due: prettier --config .prettierrc --write, eslint --fix, npm run swagger, git add swagger.json

feat: integrate express-validator and add an example
  src/routes/demoRoute.ts
Due: prettier --config .prettierrc --write, eslint --fix, npm run swagger, git add swagger.json

test: add tests for /qs path
  src/routes/demoRoute.spec.ts
Due: prettier --config .prettierrc --write, eslint --fix, npm run swagger, git add swagger.json

chore(deps): update dependency eslint to v6.2.2
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency eslint-plugin-jest to v22.15.2
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency lint-staged to v9.2.4
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency ts-node-dev to v1.0.0-pre.42
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency @types/lodash to v4.14.138
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency cross-env to v5.2.1
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency @types/node to v12.7.3
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency eslint-plugin-jest to v22.16.0
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency lint-staged to v9.2.5
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix

chore(deps): update dependency eslint to v6.3.0
  package-lock.json
  package.json
Due: prettier --config .prettierrc --write, eslint --fix
